{% extends "base_generic.html" %}

{% block content %}
<h1 class="text-center" >Genius Square Solver</h1>
<div class="container-fluid board" >
  {% load my_filters %}
    <p class="text-center">Click on the grid to place 7 pegs</br></p>
    <p class="text-center text-danger" id="warning"></p>
    <div class="row">
      <div class = "col row-label col-label"></div>
      <div class = "col col-label">1</div>
      <div class = "col col-label">2</div>
      <div class = "col col-label">3</div>
      <div class = "col col-label">4</div>
      <div class = "col col-label">5</div>
      <div class = "col col-label">6</div>
    </div>
    <div class="row">
      <div id="A0" class="col row-label">A</div>
      {% for i in 6|temprange %}
      {% with y=forloop.counter|stringformat:"s" %}
      {% with idstr="A"|add:y %}
      <div id = "{{ idstr }}" class="col" onclick="boardClick(this.id);"></div>
      {% endwith %}
      {% endwith %}
      {% endfor %}
    </div>
    <div class="row">
      <div id="B0" class="col row-label">B</div>
      {% for i in 6|temprange %}
      {% with y=forloop.counter|stringformat:"s" %}
      {% with idstr="B"|add:y %}
      <div id = "{{ idstr }}" class="col" onclick="boardClick(this.id);"></div>
      {% endwith %}
      {% endwith %}
      {% endfor %}
    </div>
    <div class="row">
      <div id = "C0" class="col row-label">C</div>
      {% for i in 6|temprange %}
      {% with y=forloop.counter|stringformat:"s" %}
      {% with idstr="C"|add:y %}
      <div id = "{{ idstr }}" class="col" onclick="boardClick(this.id);"></div>
      {% endwith %}
      {% endwith %}
      {% endfor %}
    </div>
    <div class="row">
      <div id = "D0" class="col row-label">D</div>
      {% for i in 6|temprange %}
      {% with y=forloop.counter|stringformat:"s" %}
      {% with idstr="D"|add:y %}
      <div id = "{{ idstr }}" class="col" onclick="boardClick(this.id);"></div>
      {% endwith %}
      {% endwith %}
      {% endfor %}
    </div>
    <div class="row">
      <div id = "E0" class="col row-label">E</div>
      {% for i in 6|temprange %}
      {% with y=forloop.counter|stringformat:"s" %}
      {% with idstr="E"|add:y %}
      <div id = "{{ idstr }}" class="col" onclick="boardClick(this.id);"></div>
      {% endwith %}
      {% endwith %}
      {% endfor %}
    </div>
    <div class="row">
      <div id = "F0" class="col row-label">F</div>
      {% for i in 6|temprange %}
      {% with y=forloop.counter|stringformat:"s" %}
      {% with idstr="F"|add:y %}
      <div id = "{{ idstr }}" class="col" onclick="boardClick(this.id);"></div>
      {% endwith %}
      {% endwith %}
      {% endfor %}
    </div>
  
</div>
<form id="form1" method="post" class="mb-3" style="display: flex; flex-direction: column; align-items: center">
  <div class="form-group" style="display: flex; flex-direction: column; align-items: center">
    
    {% csrf_token %}
    {{ form.as_p }}
    
  </div>
  <input type="button" value="Solve" onclick="submitForm();">
  
</form>


{% if source == 1  %}
{% load static %}
<p class="text-center">Number of Solutions is {{ number }}</p>
<div style="display: flex; flex-direction: column; align-items: center">
<h3 class='mb-3'>10 Random Solutions:</h3>
{% for path in paths %}

<p class="text-center">Solution {{ forloop.counter }}</p>
<div >
<img src="{% static path %}" style="max-width:350px; width: 90vw; height: auto"/>
</div>
{% endfor %}
</div>
{% elif source == 2 %}
  <p class="text-center text-danger">This configuration has no solutions</p>
{% endif %}
{% endblock %}
